*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.header-img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.header-img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-layout{
    position: absolute;
    top: 30rem;
    left: 50rem;

}